@import url(https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap);
/*work on font*/
/*use bootstrap??????*/
*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'News+Cycle', Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 20px;
    background-color: #b7b3b3;
    margin: 0;
    background-image: url('newspaper.jpg');
    border: rgb(76, 75, 75) solid 8px;
}
header{
    background-color: rgba(224, 220, 220, 0.6);
    color: rgb(76, 75, 75);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    /* font-size: 30px;  */
}
#snooze {
    color: rgb(139, 0, 0);
} 
#stories{
    margin-top: 20px;
}
.story{
    background-color: green;
    border: 1px solid pale rgb(155, 190, 155);
    padding: 10px;
    margin-bottom: 10px;
}
/*Mobile responsive adjustments*/
/*font change and border control*/
@media(max-width: 600px){
     html {
         font-size: 12px + 2 *((100vw -360px) / 768px)
    }
}
 @media(min-width: 470px){
     html {
        font-size: 10px + 10 *((100vw -769px) / 2048px)
     }
}
html {
    font-size: 16px;
}